html, body {
    height: 100%;
      background-image: url('FOTO.webp'); 
      background-size: cover;
      background-position: center; 
      background-repeat: no-repeat; 
    
    }
    
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll  ;

  }
  
  input {
    width: 600px;
    border: 1px solid #ddd;
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 10rem;
    animation: pulsewhite 1.5s infinite alternate;
  }
  @keyframes pulsewhite {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
    100% {
        box-shadow: 0 0 20px rgb(182, 187, 191), 
                    0 0 40px rgba(181, 184, 186, 0.7), 
                    0 0 60px rgba(253, 253, 253, 0.5);
    }
   
  }
  
  
  button {
    width: 600px;
    height: 50px;
    font-size: 14px;
    background: rgba(4, 155, 255, 0.8);
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
    border-radius: 5rem;
    transition: 1s;
    border: none;
  }
  button {
   
    animation: pulse 1.5s infinite alternate;
}
@keyframes pulse {
  0% {
      box-shadow: 0 0 10px rgba(4, 155, 255, 0.8);
  }
  100% {
      box-shadow: 0 0 20px rgba(4, 155, 255, 1), 
                  0 0 40px rgba(4, 155, 255, 0.7), 
                  0 0 60px rgba(4, 155, 255, 0.5);
  }
 
}
button:hover{
  background-color: rgb(14, 115, 231);
  color: #fff;
  cursor: pointer;
}
  
  .messages {
    width: 600px;
    height: 550px;
    margin: 20px 0;
    background-color: rgb(249, 249, 249);
    box-shadow: rgb(49, 49, 215);
    border: 0.1rem solid rgba(0, 0, 0, 0.153);
    padding: 20px;
    overflow-y: scroll;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: pulse 1.5s infinite alternate;
  }
  @keyframes pulse {
    0% {
        box-shadow: 0 0 10px rgba(4, 155, 255, 0.8);
    }
    100% {
        box-shadow: 0 0 20px rgba(4, 155, 255, 1), 
                    0 0 40px rgba(4, 155, 255, 0.7), 
                    0 0 60px rgba(4, 151, 255, 0.5);
    }
  }

   .cabeca{
    width: 5rem;
    position: relative;
    top: -1rem;
   
    
   }
   